* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Metropolis";
  background-color: #fff;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn {
  background: #2962EF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  color: #fff;
  padding: 13px 24px;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn:hover {
  background-color: #0f3aa7;
}

.btn:hover svg {
  -webkit-transform: translate(5px, -2px);
      -ms-transform: translate(5px, -2px);
          transform: translate(5px, -2px);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section__title {
  font-family: Metropolis;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #232427;
  margin-bottom: 15px;
}

.section__subtitle {
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #9998A4;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}

nav {
  overflow: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.menu__item {
  cursor: pointer;
}

.menu__item:last-child a {
  color: #fff;
  background: #2962EF;
  border-radius: 4px;
  padding: 13px 20px;
  -webkit-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
  transition: background 0.4s ease;
}

.menu__item:last-child a:hover {
  background-color: #0f3aa7;
}

.menu__item-link {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: "#5E5C6C";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.menu__item-link:hover {
  color: #2962EF;
}

.menu__item-link:hover path {
  fill: #2962EF;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.burger {
  display: none;
  cursor: pointer;
}

.section__hero {
  position: relative;
}

.section__hero .hero__img {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  max-width: 880px;
  width: 100%;
  z-index: -1;
}

.section__hero .hero {
  padding: 100px 0 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section__hero .hero__item {
  max-width: 530px;
  width: 100%;
}

.section__hero .hero__title {
  font-family: Metropolis;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #232427;
  margin-bottom: 15px;
  max-width: 387px;
  width: 100%;
}

.section__hero .hero__subtitle {
  font-size: 14px;
  line-height: 24px;
  color: #9998A4;
  margin-bottom: 62px;
}

.section__hero .hero__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
}

.section__hero .hero__links .hero__link {
  font-size: 14px;
  line-height: 14px;
  color: #2962EF;
  padding: 13px 27px;
  display: block;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 4px;
}

.section__hero .hero__links .hero__link:hover {
  background-color: #2962EF;
  color: #fff;
}

.section__hero .hero .hero__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px;
}

.section__hero .hero__stats-title {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #9998A4;
  margin-top: 130px;
}

.section__hero .hero__stats-numb {
  font-size: 36px;
  line-height: 36px;
  color: #232427;
  margin-bottom: 12px;
  margin-top: 35px;
}

.section__hero .hero__stats-text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #5E5C6C;
}

.section__special .special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 50px;
}

.section__special .special__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 346px;
          flex: 0 1 346px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #EFEFF4;
  border-radius: 8px;
  padding: 60px 40px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section__special .special__item:first-child {
  border: none;
  padding: 0 60px 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__special .special__item:not(:first-child):hover {
  background: #FAFBFD;
  border: 1px solid transparent;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.section__special .special__item:not(:first-child):hover .special__item-img {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 15px rgba(35, 36, 39, 0.05);
          box-shadow: 0px 6px 15px rgba(35, 36, 39, 0.05);
}

.section__special .special__item-img {
  width: 77px;
  height: 77px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #FAFBFD;
}

.section__special .special__item-title {
  margin-top: 40px;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #232427;
}

.section__special .special__item-text {
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #9998A4;
  margin-top: 16px;
}

.section__special .special__title {
  font-family: Metropolis;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #232427;
  margin-bottom: 15px;
}

.section__special .special__subtitle {
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #9998A4;
}

.section__trusted {
  margin-top: 100px;
}

.section__trusted .trusted {
  text-align: center;
}

.section__trusted .trusted__title {
  font-family: Metropolis;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  color: #232427;
}

.section__trusted .trusted__item {
  margin-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 65px;
     -moz-column-gap: 65px;
          column-gap: 65px;
  row-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__support {
  margin-top: 110px;
  padding: 32px 0 42px;
}

.section__support .support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 30px;
  margin-top: 45px;
}

.section__support .support__item {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  background: #FAFBFD;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.section__support .support__item:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 144px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 144px rgba(0, 0, 0, 0.04);
  padding: 6px 20px 4px 20px;
}

.section__support .support__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.section__support .support__item-title {
  font-family: Metropolis;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #232427;
  margin-top: 15px;
}

.section__support .support__item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 13px;
}

.section__support .support__item-social--link {
  display: block;
}

footer {
  padding: 97px 0 89px;
  background: #232427;
  margin-top: 150px;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__item {
  max-width: 345px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__item-link {
  margin-bottom: 20px;
  display: block;
}

footer .footer__item-text {
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

footer .footer__item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  margin-bottom: 12px;
}

footer .footer__item-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__item-form--label {
  position: relative;
  width: 100%;
}

footer .footer__item-form--input {
  width: 100%;
  padding: 20px 48px 21px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #fff;
  font-size: 14px;
  line-height: 14px;
  color: #9998A4;
  margin-bottom: 10px;
}

footer .footer__item-form--input::-webkit-input-placeholder {
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #9998A4;
}

footer .footer__item-form--input::-moz-placeholder {
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #9998A4;
}

footer .footer__item-form--input:-ms-input-placeholder {
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #9998A4;
}

footer .footer__item-form--input::-ms-input-placeholder {
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #9998A4;
}

footer .footer__item-form--input::placeholder {
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #9998A4;
}

footer .footer__item-form--btn {
  position: absolute;
  background: none;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 4px;
  padding: 13px 12px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

footer .footer__item-form--btn:hover {
  background: #2962EF;
}

footer .footer__item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-top: 32px;
  list-style: none;
}

footer .footer__item-social .footer__social-item {
  padding: 17px 13px;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
}

footer .footer__item-social .footer__social-item:hover {
  background: #5E5C6C;
}

footer .footer__item-social .footer__social-item--link {
  display: block;
}

footer .footer__bottom {
  max-width: 345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  line-height: 14px;
  color: #D6D5DF;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1209.98px) {
  .section__hero .hero__img {
    max-width: 600px;
  }

  .section__hero .hero {
    padding-top: 50px;
  }

  .section__special .special {
    gap: 20px;
  }

  .section__special .special__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
    padding: 40px;
  }

  .section__support {
    margin-top: 50px;
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .section__hero .hero__item {
    width: 100%;
  }

  .section__hero .hero__title {
    font-size: 43px;
    line-height: 120%;
  }

  .section__hero .hero .hero__stats {
    gap: 40px;
  }

  .section__hero .hero__stats-title {
    margin-top: 50px;
  }

  .section__hero .hero__stats-numb {
    font-size: 30px;
    line-height: 26px;
  }
}

@media (max-width: 768.98px) {
  .container {
    max-width: 740px;
  }

  .section__title {
    font-size: 31px;
    line-height: 120%;
  }

  .section__hero {
    padding-bottom: 317px;
  }

  .section__hero .hero__img {
    top: unset;
    bottom: 0;
  }

  .section__special .special__title {
    font-size: 31px;
    line-height: 120%;
  }

  .section__trusted .trusted__item {
    gap: 35px;
  }

  .section__support .support {
    gap: 0;
  }

  .section__support .support__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
  }

  footer .footer__bottom {
    padding-top: 34px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  footer .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }
}

@media (max-width: 591.98px) {
  .menu__item-link {
    gap: 0;
  }

  .menu__item-link svg {
    display: none;
  }
}

@media screen and (max-width: 591.98px) {
  .menu {
    position: fixed;
    background: #375186;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 22;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: "white";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: "white";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: "black";
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: "black";
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu__item {
    margin-bottom: 15px;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  }

  .menu__item:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .menu__item:last-child a {
    background: none;
    border-radius: 0;
    padding: 0;
  }

  .menu__item:last-child a:hover {
    background: none;
    color: #2962EF;
  }

  .menu__item-link {
    font-family: Metropolis;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 14px;
    color: white;
    padding: 10px;
  }
}

@media (max-width: 552.98px) {
  .section__support {
    margin-top: 50px;
  }

  .section__support .support__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 547px) {
  .section__special .special__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 10px;
  }

  .section__special .special__item-img {
    margin: 0 auto;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .section__hero .hero__title {
    font-size: 37px;
    line-height: 34px;
  }

  .section__hero .hero .hero__stats {
    gap: 24px;
  }

  .section__trusted {
    margin-top: 31px;
  }
}

@media (max-width: 415px) {
  .section__support .support__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 384px) {
  .section__hero .hero {
    padding-bottom: 0;
  }
}

@media (max-width: 376px) {
  footer {
    margin-top: 50px;
    padding: 50px 0 70px;
  }
}

@media (max-width: 375px) {
  footer .footer__item {
    max-width: 100%;
  }

  footer .footer__bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}